<div class="content-wrapper">
  <mat-stepper linear #stepper>
    <mat-step>
      <ng-template matStepLabel>Inputs</ng-template>
      <app-inputs-wrapper [resumeModel]="resumeModel"></app-inputs-wrapper>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Theming</ng-template>
      <app-inputs-wrapper [resumeModel]="resumeModel"></app-inputs-wrapper>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Download</ng-template>
      <app-inputs-wrapper [resumeModel]="resumeModel"></app-inputs-wrapper>
    </mat-step>
  </mat-stepper>
</div>
