<div class="content-wrapper">
  <mat-stepper linear #stepper>
    <mat-step>
      <ng-template matStepLabel>Inputs</ng-template>
      <app-user-profile-input></app-user-profile-input>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Theming</ng-template>
      <app-user-profile-input></app-user-profile-input>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Download</ng-template>
      <app-user-profile-input></app-user-profile-input>
    </mat-step>
  </mat-stepper>
</div>
