.mat-horizontal-stepper-header .mat-step-icon {
  transform: scale(0.7);
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

.mat-stepper-horizontal-line  {
  min-width: 0!important;
}
