@import '~bootstrap/dist/css/bootstrap.min.css';
@import './theme.scss';

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-wrapper {
  padding: 24px;
}
