@import '~bootstrap/dist/css/bootstrap.min.css';
@import './theme.scss';
@import './sass-variables.scss';

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
* {
  font-weight: bold;
  letter-spacing: 0.05em;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $app-font-family;
}

.content-wrapper {
  padding: 12px;
}
