@import '~bootstrap/dist/css/bootstrap.min.css';
@import './theme.scss';
@import './sass-variables.scss';
@import './material-typography.scss';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v109/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

* {
  letter-spacing: 0.05em;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $app-font-family;
}

.content-wrapper {
  padding: 12px;
  background-color: #f8f8f8;
}

// Move these to typography
.header {
  font-weight: bold;
}

.secondary-text {
  opacity: 0.7;
  font-size: 14px;
}

button {
  * {
    font-weight: bold;
    text-transform: capitalize;
  }
}

.primary_color {
  color: $primary_color !important;
}

.primary_bg {
  background-color: $primary_color !important;
}

.accent_color {
  color: $accent_color !important;
}

.ck-content {
  min-height: 160px;
}
