.upload-picture-placeholder {
  width: 100%;
  height: 100%;
  font-size: 96px;
  text-align: center;
}

.profile-summary-textarea {
  height: 120px;
}

mat-icon[matprefix] {
  top: 6px;
  position: relative;
  margin-right: 8px;
}

.upload-profile-trigger {
  width: 200px;
  margin: 0 auto;
}
