<div class="content-wrapper">
  <form [formGroup]="form">
    <mat-card>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="row mt-3">
                <mat-form-field appearance="legacy">
                  <mat-icon matPrefix>account_circle</mat-icon>
                  <mat-label>First Name</mat-label>
                  <input matInput required
                    [(ngModel)]="profileInfo.firstName"
                    formControlName="firstName">
                    <mat-error *ngIf="form.get('firstName').hasError('required')">
                      First Name is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('firstName').hasError('maxlength')">
                      Maximum character limit exceeded.
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="row mt-3">
                <mat-form-field appearance="legacy">
                  <mat-icon matPrefix>account_circle</mat-icon>
                  <mat-label>Last Name</mat-label>
                  <input matInput required
                    [(ngModel)]="profileInfo.lastName"
                    formControlName="lastName">
                    <mat-error *ngIf="form.get('lastName').hasError('required')">
                      Last Name is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('lastName').hasError('maxlength')">
                      Maximum character limit exceeded.
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="row mt-3">
                <mat-form-field appearance="legacy">
                  <mat-icon matPrefix>person</mat-icon>
                  <mat-label>Designation</mat-label>
                  <input matInput required
                    [(ngModel)]="profileInfo.designation"
                    formControlName="designation">
                    <mat-error *ngIf="form.get('designation').hasError('required')">
                      Designation is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('designation').hasError('maxlength')">
                      Maximum character limit exceeded.
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="row mt-3">
                <mat-form-field appearance="legacy">
                  <mat-icon matPrefix>location_on</mat-icon>
                  <mat-label>Address</mat-label>
                  <input matInput required
                    [(ngModel)]="profileInfo.address"
                    formControlName="address">
                    <mat-error *ngIf="form.get('address').hasError('required')">
                      Address is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('address').hasError('maxlength')">
                      Maximum character limit exceeded.
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="row mt-3">
                <mat-form-field appearance="legacy">
                  <mat-icon matPrefix>phone</mat-icon>
                  <mat-label>Phone number</mat-label>
                  <input matInput required
                    [(ngModel)]="profileInfo.phone"
                    formControlName="phone">
                    <mat-error *ngIf="form.get('phone').hasError('required')">
                      Phone is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('phone').hasError('maxlength')">
                      Maximum character limit exceeded.
                    </mat-error>
                </mat-form-field>
              </div>
              <div class="row mt-3">
                <mat-form-field appearance="legacy">
                  <mat-icon matPrefix>email</mat-icon>
                  <mat-label>Email Address</mat-label>
                  <input matInput required
                    [(ngModel)]="profileInfo.email"
                    formControlName="email">
                    <mat-error *ngIf="form.get('email').hasError('required')">
                      Email is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('email').hasError('maxlength')">
                      Maximum character limit exceeded.
                    </mat-error>
                </mat-form-field>
              </div>
              <!-- <add-custom-input></add-custom-input> -->
            </div>

            <div class="col-md-6 mt-3">
              <div class="row mt-3">
                <file-pond #myPond
                  [options]="pondOptions"
                  [files]="pondFiles"
                  (oninit)="pondHandleInit()"
                  (onaddfile)="pondHandleAddFile($event)"
                  (onactivatefile)="pondHandleActivateFile($event)">
              </file-pond>
              </div>
              <div class="row mt-3" hidden>
                <mat-icon class="upload-picture-placeholder">image</mat-icon>
                <button mat-raised-button color="primary" class="upload-profile-trigger">Upload Profile Picture</button>
              </div>
              <div class="row mt-5">
                <mat-form-field appearance="legacy">
                  <mat-label>Profile Summary</mat-label>
                  <textarea matInput required class="profile-summary-textarea"
                    [(ngModel)]="profileInfo.summary"
                    formControlName="summary">
                  </textarea>
                  <mat-error *ngIf="form.get('summary').hasError('required')">
                    Profile summary is required.
                  </mat-error>
                  <mat-error *ngIf="form.get('summary').hasError('maxlength')">
                    Maximum character limit exceeded.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row mt-3">
                <mat-form-field appearance="legacy">
                  <mat-icon matPrefix>phone</mat-icon>
                  <mat-label>Alternate Phone number</mat-label>
                  <input matInput
                    [(ngModel)]="profileInfo.altPhone"
                    formControlName="altPhone">
                    <mat-error *ngIf="form.get('altPhone').hasError('maxlength')">
                      Maximum character limit exceeded.
                    </mat-error>
                </mat-form-field>
              </div>

            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
  <section class="d-flex justify-content-end mt-3">
    <button mat-raised-button color="primary" (click)="saveInputs()">Save</button>
    <button mat-raised-button color="primary" [style.margin-left]="'12px'"
      *ngIf="showAutoPopulate"
      (click)="autoPopulateInputs()">
      Auto Populate Inputs
    </button>
  </section>
</div>
